@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* background: linear-gradient(to bottom, #1a1a2e, #23236e); */
  color: #f1e8e8;
}

.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms, transform 300ms;
}


.transition-all {
  transition: all 0.3s ease-in-out;
}


.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* custom-datepicker.css */
.react-datepicker {
  @apply bg-slate-700 border border-gray-300 rounded-md shadow-lg;
}

.react-datepicker__header {
  @apply bg-slate-700;
}

.react-datepicker__day {
  @apply hover:bg-gray-600;
}

.react-datepicker__day--selected {
  @apply bg-blue-500 text-white;
}
/* .chart-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .chart-container {
    height: 200px;
  }
} */
/* .chart-container {
  width: 100%;
  height: 100%;
} */


.chart-container {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .chart-container {
      height: 200px; 
  }

  .course-progress-overview {
      flex-direction: column;
  }

  .course-progress-overview > div {
      width: 100%;
      margin-bottom: 20px;
  }
}

@media (max-width: 912px) {
  .contain {
      /* --tw-space-y-reverse: 0;
      margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(0px * var(--tw-space-y-reverse)); */
      gap: 18px;
  }
}

/* @media (min-width: 1440px) {
  .contain{
      flex-direction: row;
  }
}

.contain{
  display: flex;
  flex-direction: column;
} */

/* Styles for larger screens */
@media (min-width: 768px) {
  .chart-container {
      height: 300px; 
  }

  .course-progress-overview {
      flex-direction: row;
  }

  .course-progress-overview > div {
      width: auto;
  }
}

/* @media (min-width: 1024px) {
  main {
      max-width: 1200px;
      margin: 0 auto;
  }
} */

.custom-checkbox {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 2px solid #4A5568;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
}

.custom-checkbox:checked {
  background-color: #4299E1;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox:checked::before {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  background-color: white;
  border-radius: 50%;
}





input[type="checkbox"].circular-checkbox {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #4F46E5;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"].circular-checkbox:checked::before {
  content: '';
  width: 1rem;
  height: 1rem;
  background-color: #4F46E5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}